@{
    ViewData["Title"] = "Home";
}

<section class="u-clearfix u-image u-section-1" id="sec-ad37">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h3 class="u-text u-text-palette-2-base u-text-1">fresh Food</h3>
                            <h1 class="u-text u-text-palette-1-base u-title u-text-2" data-animation-name="bounceIn"
                                data-animation-duration="1000" data-animation-direction="">
                                Organic
                            </h1>
                            <p class="u-large-text u-text u-text-variant u-text-3" data-animation-name="customAnimationIn"
                               data-animation-duration="1000" data-animation-direction="">
                                How your food is grown or raised can have a
                                major impact on your mental and emotional health as well as the environment.
                            </p>
                            <a href="#" class="u-btn u-button-style u-palette-2-base u-btn-1">learn more</a>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"
                         data-image-width="2560" data-image-height="1440">
                        <div class="u-container-layout u-container-layout-2" style="background-image:none;  min-height: 630px;   background-position: 50% 50%; 
background-repeat: no-repeat; background-size: cover;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="u-clearfix u-palette-2-base u-section-2" id="sec-42b2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-align-center u-text u-text-1">How it Works?</h1>
                <p class="u-align-center u-text u-text-2">
                    Organic agriculture, which is governed by strict government
                    standards, requires that products bearing the organic label are produced without the use of toxic and
                    persistent pesticides and synthetic nitrogen fertilizers, antibiotics,
                    synthetic hormones, genetic engineering or other excluded practices, sewage sludge, or irradiation.
                </p>
            </div>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-col">
                            <div class="u-align-center u-container-style u-hover-feature u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                                 data-image-width="3840" data-image-height="2160" data-animation-name="customAnimationIn"
                                 data-animation-duration="1000">
                                <div class="u-container-layout u-container-layout-2"></div>
                            </div>
                            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle">
                                    <span class="u-file-icon u-icon u-icon-1"
                                          data-animation-name="customAnimationIn" data-animation-duration="1000"
                                          data-animation-direction=""><img src="images/1460639.png" alt=""></span>
                                    <h4 class="u-align-center u-text u-text-3">Farming</h4>
                                    <p class="u-align-center u-text u-text-4">
                                        Agriculture is the system of processes for growing
                                        cultural plants.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-col">
                            <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-layout-cell u-size-30 u-white u-layout-cell-3">
                                <div class="u-container-layout u-valign-middle">
                                    <span class="u-icon u-icon-circle u-text-palette-2-base u-icon-2"
                                          data-animation-name="customAnimationIn" data-animation-duration="1000">
                                        <svg class="u-svg-link"
                                             preserveAspectRatio="xMidYMin slice" viewBox="0 0 384 384.00289" style="undefined">
                                            <use xlink:href="#svg-e09f"></use>
                                        </svg>
                                        <svg class="u-svg-content" viewBox="0 0 384 384.00289" id="svg-e09f">
                                            <path d="m16 384.003906c4.09375 0 8.191406-1.5625 11.3125-4.6875l80.542969-80.546875c24.59375 19.378907 54.335937 29.136719 84.136719 29.136719 34.832031 0 69.679687-13.238281 96.207031-39.726562 48.769531-48.847657 90.832031-246.554688 95.464843-268.9375 1.09375-5.28125-.542968-10.75-4.351562-14.558594s-9.28125-5.441406-14.5625-4.351563c-22.382812 4.640625-220.085938 46.695313-268.941406 95.480469-19.320313 19.308594-32.265625 43.695312-37.441406 70.511719-1.671876 8.679687 4 17.070312 12.671874 18.742187 8.671876 1.664063 17.074219-4 18.746094-12.671875 3.957032-20.519531 13.863282-39.175781 28.636719-53.953125 31.496094-31.4375 159.105469-65.613281 228.617187-81.488281-15.871093 69.515625-50.039062 197.121094-81.464843 228.59375-36.703125 36.648437-94.183594 40.015625-134.855469 10.351563l24.585938-24.582032c.007812-.007812.015624-.015625.023437-.027344l27.296875-27.285156h73.375c8.832031 0 16-7.167968 16-16 0-8.832031-7.167969-16-16-16h-41.375l52.6875-52.6875c6.246094-6.25 6.246094-16.378906 0-22.625-6.242188-6.25-16.386719-6.25-22.625 0l-79.992188 79.992188c-.007812.007812-.015624.015625-.023437.023437l-4.671875 4.671875v-41.375c0-8.832031-7.167969-16-16-16s-16 7.167969-16 16v73.375l-19.9375 19.9375c-4.597656-6.289062-8.527344-13-11.566406-20.183594-3.449219-8.136718-12.824219-11.953124-20.976563-8.496093-8.136719 3.445312-11.945312 12.832031-8.496093 20.972656 4.65625 10.992187 10.816406 21.175781 18.207031 30.546875l-80.542969 80.535156c-6.25 6.246094-6.25 16.375 0 22.625 3.121094 3.125 7.214844 4.6875 11.3125 4.6875zm0 0">
                                            </path>
                                        </svg>
                                    </span>
                                    <h4 class="u-align-center u-text u-text-5">Organic Farming</h4>
                                    <p class="u-align-center u-text u-text-6">
                                        Organic farming practices reduce pollution, conserve
                                        water, reduce soil erosion, increase soil fertility, and use less energy, is also better for birds
                                    </p>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2"
                                 data-image-width="1024" data-image-height="768" data-animation-name="customAnimationIn"
                                 data-animation-duration="1000">
                                <div class="u-container-layout u-container-layout-5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-3"
                                 data-image-width="2560" data-image-height="1707" data-animation-name="customAnimationIn"
                                 data-animation-duration="1000">
                                <div class="u-container-layout u-container-layout-6"></div>
                            </div>
                            <div class="u-align-center-lg u-container-style u-layout-cell u-right-cell u-size-30 u-white u-layout-cell-6">
                                <div class="u-container-layout u-valign-middle u-container-layout-7">
                                    <span class="u-icon u-icon-circle u-text-palette-2-base u-icon-3"
                                          data-animation-name="customAnimationIn" data-animation-duration="750"
                                          data-animation-direction="X">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                             viewBox="0 -46 512 512" style="undefined">
                                            <use xlink:href="#svg-a9d2"></use>
                                        </svg>
                                        <svg class="u-svg-content" viewBox="0 -46 512 512" id="svg-a9d2">
                                            <path d="m120 180c-66.167969 0-120 53.832031-120 120s53.832031 120 120 120 120-53.832031 120-120-53.832031-120-120-120zm0 210c-49.625 0-90-40.375-90-90s40.375-90 90-90 90 40.375 90 90-40.375 90-90 90zm0 0">
                                            </path>
                                            <path d="m120 255c-24.8125 0-45 20.1875-45 45s20.1875 45 45 45 45-20.1875 45-45-20.1875-45-45-45zm0 60c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15 15 6.730469 15 15-6.730469 15-15 15zm0 0">
                                            </path>
                                            <path d="m482 262.980469v-52.980469c0-33.085938-26.914062-60-60-60h-30v-75c0-8.269531 6.730469-15 15-15v-30c-24.8125 0-45 20.1875-45 45v75h-65.839844l-36-120h24.839844v-30h-240v30h30v95.738281c-25.347656 6.554688-49.171875 18.578125-69.550781 35.410157l19.101562 23.132812c26.769531-22.105469 60.667969-34.28125 95.449219-34.28125 82.710938 0 150 67.289062 150 150v45h63.257812c7.164063 42.511719 44.226563 75 88.742188 75 49.625 0 90-40.375 90-90 0-26.59375-11.597656-50.527344-30-67.019531zm-377-142.34375v-90.636719h123.839844l36 120h-45.457032c-28.5-18.945312-62.671874-30-99.382812-30-5.019531 0-10.023438.21875-15 .636719zm149.039062 59.363281h167.960938c16.542969 0 30 13.457031 30 30v35.148438c-9.386719-3.328126-19.484375-5.148438-30-5.148438h-132.296875c-7.925781-22.347656-20.140625-42.679688-35.664063-60zm43.445313 90h57.496094c-11.113281 12.398438-18.839844 27.886719-21.722657 45h-33.257812v-15c0-10.21875-.867188-20.238281-2.515625-30zm124.515625 120c-33.085938 0-60-26.914062-60-60s26.914062-60 60-60 60 26.914062 60 60-26.914062 60-60 60zm0 0">
                                            </path>
                                            <path d="m437 330c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15 6.714844-15 15-15 15 6.714844 15 15zm0 0">
                                            </path>
                                        </svg>
                                    </span>
                                    <h4 class="u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-7">
                                        Arable Farming
                                    </h4>
                                    <p class="u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-8">
                                        Organic foods often have more beneficial nutrients, such as antioxidants, than their
                                        conventionally-grown counterparts and people with allergies to foods
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="u-clearfix u-grey-5 u-section-3" id="sec-a3ef">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" data-image-width="1600"
                     data-image-height="900">
                    <div class="u-container-layout u-container-layout-1" style="background-image:none;background-image:url('./images/business.jpg');  
  background-size: cover; background-repeat: no-repeat;  background-position: 50% 50%;"></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-opacity u-opacity-90 u-right-cell u-size-30 u-white u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <h2 class="u-text u-text-palette-1-base u-text-1">Business</h2>
                        <p class="u-large-text u-text u-text-variant u-text-2">
                            Business is one of the most important things in
                            life. It's up to us. Either we're going to be successful or we're not. There has to be a purpose in
                            business. And our job is to concentrate on our goal.
                        </p>
                        <a href="#" class="u-btn u-button-style u-btn-1">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-palette-2-base u-section-4" id="sec-b541">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-align-center u-text u-text-1">About Our Farm</h1>
                <p class="u-align-center u-text u-text-2">
                    Today, at our second-generation family farm, we keep with our
                    parents’ vision by practicing healthy crop rotation, encouraging a diverse ecosystem around the fields,
                    efficiently using local water sources and carefully selecting produce
                    varieties that grow well and taste great. <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-5 u-section-5" id="sec-ed3c">
    <div class="u-clearfix u-sheet u-sheet-1" data-image-width="2000" data-image-height="1333">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-white u-layout-cell-1"
                                 data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                                <div class="u-container-layout u-valign-middle">
                                    <h4 class="u-text u-text-palette-2-base u-text-1">Vegetables</h4>
                                    <p class="u-text u-text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit&nbsp;</p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-2"
                                 data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                                <div class="u-container-layout u-valign-middle">
                                    <h4 class="u-text u-text-palette-2-base u-text-3">How It Works</h4>
                                    <p class="u-text u-text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit&nbsp;</p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-white u-layout-cell-3"
                                 data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                                <div class="u-container-layout u-valign-middle">
                                    <h4 class="u-text u-text-palette-2-base u-text-5">Flexibility</h4>
                                    <p class="u-text u-text-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit&nbsp;</p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-white u-layout-cell-4"
                                 data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                                <div class="u-container-layout u-valign-middle">
                                    <h4 class="u-text u-text-palette-2-base u-text-7">Farm Products</h4>
                                    <p class="u-text u-text-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-15 u-size-30-md u-image-1"
                                 data-image-width="600" data-image-height="450" data-animation-name="bounceIn"
                                 data-animation-duration="1000" data-animation-direction="">
                                <div class="u-container-layout u-container-layout-5" style=" background-image: url('./images/vegetables2.jpeg'); background-attachment: fixed;  
  background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
                                </div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-size-15 u-size-30-md u-image-2"
                                 data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">
                                <div class="u-container-layout" style="background-image: url('./images/vegetables3.jpeg'); background-attachment: fixed;  
  background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
                                </div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-size-15 u-size-30-md u-image-3"
                                 data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0"
                                 data-animation-direction="">
                                <div class="u-container-layout" style="background-image: url('./images/vegetables4.jpeg');  background-repeat: no-repeat; background-attachment: fixed;  
  background-size: cover; background-position: 50% 50%;"></div>
                            </div>
                            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-15 u-size-30-md u-image-4"
                                 data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">
                                <div class="u-container-layout" style="background-image: url('./images/vegetables5.jpeg');background-attachment: fixed;  
  background-size: cover;  background-repeat: no-repeat;  background-position: 50% 50%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-6" id="carousel_77ed">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1" data-image-width="1024"
                     data-image-height="683">
                    <div class="u-container-layout"></div>
                </div>
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout">
                        <div class="u-align-left-lg u-align-left-xl u-container-style u-group u-group-1">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md">
                                <h3 class="u-text u-text-palette-2-base u-text-1">happy farming</h3>
                                <h2 class="u-align-center u-hover-feature u-text u-text-palette-1-base u-text-2">Farming is Hard?</h2>
                                <p class="u-text u-text-3">
                                    Being a farmer is hard. This is true no matter what policies exist. The
                                    work itself is difficult, and making money from farming requires many, many factors to line up just
                                    right. Get too much rain, too dry a season, too many bugs and the crop can be destroyed.
                                </p>
                                <a href="#" class="u-btn u-button-style u-btn-1">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="u-align-center u-clearfix u-palette-3-base u-section-7" id="sec-6a63">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1"
                     data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <div style="" class="u-image u-image-circle u-image-1">
                            <img style=" height: 194px;
  width: 194px;
  background-position: 50% 50%;
  margin: 1px auto 0; border-radius:100%;" src="./images/stawbery.jpg">
                        </div>
                        <h4 class="u-text u-text-1">Fresh Fruits</h4>
                        <p class="u-text u-text-2">
                            The secret is using fresh, seasonal produce in combination with good quality
                            oils, vinegars or dairy. We choose the organic lifestyle because
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2"
                     data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <div alt="" class="u-image u-image-circle u-image-2">
                            <img style=" height: 194px;
  width: 194px;
  background-position: 50% 50%;
  margin: 1px auto 0; border-radius:100%;" src="./images/vegetables.jpeg">
                        </div>
                        <h4 class="u-text u-text-3">Vegetables</h4>
                        <p class="u-text u-text-4">
                            We have all been listening to our mothers saying: eat your vegetables.
                            Scientists also agree: we need to eat 5 portions of vegetables to stay healthy.
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3"
                     data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <div alt="" class="u-image u-image-circle u-image-3">
                            <img style=" height: 194px;
  width: 194px;
  background-position: 50% 50%;
  margin: 1px auto 0; border-radius:100%;" src="./images/salats.jpeg">
                        </div>
                        <h4 class="u-text u-text-5">Salad Leaves</h4>
                        <p class="u-text u-text-6">
                            One way to motivate yourself to eat more salad this summer is to have a tasty,
                            homemade dressing drizzled on top. Organic food popularity
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-white u-section-8" id="carousel_8950">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-opacity u-opacity-90 u-right-cell u-size-28 u-white u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h3 class="u-text u-text-palette-2-base u-text-1">ORGANIC FARM</h3>
                        <h2 class="u-text u-text-palette-1-base u-text-2">Of Organic Food</h2>
                        <p   class="u-large-text u-text u-text-variant u-text-3">
                            Organic principles and regulations are also
                            designed to ensure that animals are treated humanely, or, to be brutally honest, as humanely as
                            possible. <br>There are strict rules on the way in which animals are housed, guaranteeing a degree of
                            comfort for the animals. But when it comes to vegetables, the situation is quite different.
                        </p>
                        <a href="#" class="u-btn u-button-style u-btn-1">learn more</a>
                    </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-32 u-image-1" >
                    <div class="u-container-layout" style="background-image: url('./images/organicFoods.jpeg');  min-height: 630px;   background-position: 50% 50%;  background-repeat: no-repeat; 
  background-size: cover; margin-right:15px;">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
